@import "/src/styles/theme.scss";

.content {
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 50px;
    margin: 10px;
}

.success {
    background-color: $green;
    color: $white;
}

.error {
    background-color: $red;
    color: $white;
}