@import '/src/styles/theme.scss';
.td {
  text-align: center;
  border: 1px solid $darkGray;
  padding: .5rem;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
