:root{
    /* Cores do tema */
    --primary: #594FB8;
    --primaryDark:     #342E6A;
    --primaryLight:    #748ee6;
    --secondary:       #786AF7;
    --secondaryDark:   #3A3478;
    --secondaryLight:  #F2F3F5;
    --background-1: #f4f4f4;
    --background-2: #f2f2f2;
    --purpleLight: #F0EEFF;
  
      /* Container */
    --Container-box-shadow: 4px 5px 17px 14px rgba(0, 0, 0, 0.15);
  
  
    /* Cores auxiliares */
    --focus:            #cac4f7;
  
    
  
    /* Cores padrão */
    --black:           #0D0D0D;
    --white:           #FFFFFF;
    --gray:            #D4D4D4;
    --lightGray:       #E8EAEE;
    --darkGray:        #474745;
    --blue:            #1647ae;
    --lightBlue:       #2c53a6;
    --darkblue:        #113b96;
    --green:           #43a560;
    --lightGreen:      #28A34D;
    --darkgreen:       #20863F;
    --red:             #D43939;
    --lightRed:        #dd5b5b;
    --darkred:         #BA3535;
    --yellow:          #F5A623;
    --lightYellow:     #f6be64;
    --darkyellow:      #C58A28;
  
    /* Fonts */
    --fontPrimary:       'Inter', 'sans-serif';
    --fontSecondary:     'Roboto', sans-serif;
    --fontSizeSmall:      .8rem;
    --fontSizeMedium:     1rem;
    --fontSizeLarge:      1.5rem;
  
    /* Components */
  
    /* Button */
    --buttonFontWeight: 500;
    --buttonPadding: .5rem 1rem;
    --buttonMarginRight: 1rem;
    --buttonBorderRadius: .313rem;
    --buttonBorder: .1rem solid var(--primary);
    --buttonBorderColor: var(--primary);
    --buttonSmallPadding: .3rem .5rem;
    --buttonLargePadding: .8rem 1.2rem;
  
    /* Text */
    --textMargin: .3rem;
    --textPLineHeight: 1.5;
    --textPFontSize: 1rem;
    --textPFontWeight: 400;
    --textPFontFamily: var(--fontPrimary);
    --textH1FontSize: 2rem;
    --textH1FontWeight: 700;
    --textH1FontFamily: var(--fontPrimary);
    --textH2FontSize: 1.6rem;
    --textH2FontWeight: 700;
    --textH2FontFamily: var(--fontPrimary);
    --textH3FontSize: 1.5rem;
    --textH3FontWeight: 700;
    --textH3FontFamily: var(--fontPrimary);
    --textH4FontSize: 1.4rem;
    --textH4FontWeight: 700;
    --textH4FontFamily: var(--fontPrimary);
    --textH5FontSize: 1.3rem;
    --textH5FontWeight: 700;
    --textH5FontFamily: var(--fontPrimary);
    --textH6FontSize: 1.2rem;
    --textH6FontWeight: 700;
    --textH6FontFamily: var(--fontPrimary);
  
    /* Tag */
    --tagPadding: .4rem;
    --tagMargin: .2rem;
    --tagBorderRadius: .5rem;
  
    /* Message */
    --borderTop:    .5rem solid var(--primary);
    --borderBottom: .5rem solid var(--primary);
    --borderLeft:   .5rem solid var(--primary);
    --borderRight:  .5rem solid var(--primary);
    --messageBorderTopLeftRadius:     .5rem;
    --messageBorderTopRightRadius:    .5rem;
    --messageBorderBottomLeftRadius:  .5rem;
    --messageBorderBottomRightRadius: .5rem;
  
    /* Modal */
    --modal-border-radius: .5rem;
    --modal-background-color: var(--white);
  
    /* Table */
    --table-border: .063rem solid var(--darkGray);
  
    /* Input */
    --input-border: .063rem solid var(--darkGray);
    --table-border-radius: 10px;
    --table-box-shadow: 4px 5px 17px 14px rgba(0, 0, 0, 0.15);
  
    --table-zebra: var(--purpleLight);
  
  
    /* Textarea */
    --textarea-border: .063rem solid var(--darkGray);
  
    /* Select */
    --select-border: .063rem solid var(--darkGray);
  
    
  }