// Cores padrão do projeto
$primary: #2c4a88;
$primaryDark: #2409b9;
$primaryLight: #4e6beb;
$secondary: #E8EAEE;
$secondaryDark: #C2C6D0;
$secondaryLight: #F2F3F5;

// Cores para utilização interna de componentes
$focus:     #b3b3b4;
$dark:      #0D0D0D;
$white:     #FFFFFF;
$lightGray: #E8EAEE;
$gray:      #D4D4D4;
$darkGray:  #474745;
$green:     #28A34D;
$darkgreen: #20863F;
$red:       #D43939;
$darkred:   #BA3535;
$yellow:    #F5A623;
$darkyellow:#C58A28;


$fontSecondary: 'Inter', 'sans-serif';
$fontSizeMedium: .75rem;